@import url("../custom.css");

html {
    margin: 0;
    padding: 0;
}

body#body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
    color: var(--light);
}

div#editTabs {
    width: 20vw;
    min-height: 100vh;
    background-color: var(--darker);
    box-shadow: 1px 0px 10px 1px var(--orange);
    border-right: 1px solid var(--orange);
    position: relative;
    z-index: 2;
}

textarea#editText {
    width: 76vw;
    padding: 4vh 2vw;
    background: transparent;
    font-size: 1.5em;
    color: var(--light);
    border: 0;
    position: relative;
    z-index: 1;
    outline: none;
    resize: none;
}

#editTabs .item {
    font-size: 1.2em;
    border-bottom: 1px solid var(--green);
    display: flex;
    justify-content: space-between;
}

#editTabs .item>div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 10px;
    width: 100%;
    border-right: 1px solid var(--green);
}

#editTabs .item>div:nth-child(2) {
    padding: 15px;
}

#editTabs .item.selected {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 2px 0px var(--green);
}

#editTabs .options {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--green);
}

#editTabs .add_item,
#editTabs .save_item,
#editTabs .download_item {
    font-size: 2.2em;
    text-align: center;
    padding: 10px;
    display: block;
    width: 33%;
    background-color: var(--greenHover);
    box-shadow: inset 0px 0px 2px 0px var(--green);
}

#editTabs .add_item:hover,
#editTabs .save_item:hover,
#editTabs .download_item:hover,
#editTabs .item>div:hover {
    background-color: var(--green);
    cursor: pointer;
}

#editTabs .item>div:nth-child(2):hover {
    background-color: var(--red);
}

#editTabs .item:first-child {
    border-top: 0;
}

div#notification {
    position: fixed;
    top: -100px;
    right: 10px;
    width: 200px;
    z-index: 105;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--light);
    background-color: var(--green);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--boxShadDark);
}