html.light .header {
  border: 2px solid var(--green);
  height: 90px;
}
html.light .header>.header_nav>h4 {
  visibility: hidden;
}
html.light .header>.header_nav a {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: 0.1s linear;
}
html.light #head-button .show-notifications {
  margin-top: 3px;
}
html.light #head-button .show-notifications.active #icon-bell {
  fill: var(--light);
}
html.light #head-button .show-notifications.active~.notifications {
  top: 48px;
  left: -3px;
}
html.light .main .BlokNav {
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
html.light .main .BlokNav:hover {
  background-color: var(--green) !important;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.6);
}
html.light .BlokNav:hover * {
  color: var(--light) !important;
}
html.light .BlokNav:hover > a > span > i:nth-child(2) {
    color: var(--green) !important;
}
html.light .main .BlokNav > div {
  padding-left: 10px;
  padding-right: 10px;
}
html.light .main .openPage > .fa-stack {
  transition: all 0.3s ease-in-out;
}
html.light .ui-dialog .ui-dialog-titlebar {
  background: var(--green);
}
html.light .header .logo {
  height: auto;
  float: left;
  margin-top: 20px;
}
html.light .header .logo img {
  max-width: 100%;
  max-height: 47px;
  padding-left: 3px;
}
html.light .header .header_right {
  width: auto;
  min-width: 6.5%;
  float: right;
}
html.light #header_container .welcome {
  margin-top: 25px;
  margin-right: 8%;
  transition: 0.1s linear;
}
html.light #header_container .welcome > b {
  transition: 0.1s linear;
}
html.light .header .child {
  padding-top: 25px;
}
html.light .login_div {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}
html.light .btn.btn-success,
html.light .btn.btn-warning,
html.light .btn.btn-danger,
html.light .btn.btn-info,
html.light .btn.btn-default {
  background-image: none;
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.4);
  transition: 0.1s linear;
  outline: none;
}
html.light .btn.btn-success,
html.light .btn.btn-success *:not(.fa) {
  background-color: var(--btnSuccess) !important;
  border: 1px solid var(--btnSuccess) !important;
}
html.light .btn.btn-warning,
html.light .btn.btn-warning *:not(.fa) {
  background-color: var(--btnWarning) !important;
  border: 1px solid var(--btnWarning) !important;
}
html.light .btn.btn-danger,
html.light .btn.btn-danger *:not(.fa) {
  background-color: var(--btnDanger) !important;
  border: 1px solid var(--btnDanger) !important;
}
html.light .btn.btn-info,
html.light .btn.btn-info *:not(.fa) {
  background-color: var(--btnInfo) !important;
  border: 1px solid var(--btnInfo) !important;
}
html.light .btn.btn-default,
html.light .btn.btn-default *:not(.fa) {
  background-color: var(--btnDefault) !important;
  border: 1px solid var(--btnDefault) !important;
}
html.light .btn:hover,
html.light .header_nav a:hover {
  filter: saturate(1.2) brightness(1.1);
}
html.light iframe#renderHier {
  min-width: 100%;
  min-height: 92vh;
}
html.light #lang button font.btn_text {
  display: none;
}
html.light #lang button:hover font.btn_text {
  display: inline;
}
html.light #lang button:hover {
  position: absolute;
  padding: 6px 17px 6px 12px;
}
html.light.smlBlocks .main .BlokNav {
  width: 130px;
  height: 170px;
  margin: 6px;
}
html.light.smlBlocks .main .BlokNav a.openPage span {
  transform: scale(0.6);
  margin-top: -22px;
}
html.light.smlBlocks .main .BlokNav a.openPage .ca-content {
  font-size: 14px;
  width: 100%;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  line-height: 18px;
}
html.light.altEasyui .panel.datagrid .panel-html {
  overflow: auto;
  max-height: calc(100% - 50px);
}
html.light.headGlowDEV .header {
  box-shadow: inset 0px 0px 6px 0px #c12e2a;
  border-color: var(--red);
}
html.light.headGlowPRD .header {
  box-shadow: inset 0px 0px 6px 0px #71bf44;
  border-color: var(--green);
}
html.light.headGlowQA .header {
  box-shadow: inset 0px 0px 6px 0px #f7931c;
  border-color: var(--orange);
}
html.light.altMenus .ui-widget-overlay {
  background: rgba(0,0,0,0.5);
  opacity: unset !important;
}
html.light.altMenus .ui-widget-content.ui-dialog {
  box-shadow: 1px 0px 7px 1px rgba(0,0,0,0.5);
}
html.light.altMenus ul#ShortcutsList {
  box-shadow: -1px 0px 7px 1px rgba(0,0,0,0.5);
  border-radius: 0;
  top: 0;
  right: 0;
  min-width: 300px;
  max-height: none;
  padding: 1vh;
  height: 98vh;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}
html.light ul#ShortcutsList>li .fa-stack {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}
html.light ul#ShortcutsList>li:first-child .fa-stack {
  float: none;
  margin-right: 0px;
  margin-top: 1px;
}
html.light .main ul.ca-menu.ui-sortable > * {
  animation-name: quiverAnimate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
html.light .main ul.ca-menu.ui-sortable.ui-sortable-disabled > * {
  animation-name: none;
}
html.light .header .header_nav {
  padding: 0;
}
html.light .nav > li > a {
  cursor: pointer !important;
}
html.light .header div#header_container {
  height: 100%;
}
html.light.small .header {
  height: 45px;
}
html.light.small .header .logo {
  margin-top: 6px;
  height: 72%;
}
html.light.small .header .header_right > div > div {
  display: table-cell !important;
}
html.light.small .header .child {
  padding-top: 3px;
}
html.light.small .header > .header_nav a {
  top: -19px;
  width: 32px;
  height: 32px;
  background-size: 20px;
}
html.light.small .content {
  padding-top: 55px;
}
html.light.small .header .logo img {
  max-height: 33px;
}
html.light .backHead {
  width: 99.7%;
  margin-left: 2px;
  height: 96px;
  position: absolute;
  z-index: 95;
}
html.light.small .backHead {
  height: 51px;
}
html.light.RGBclass .header {
  top: 2px;
  width: 99.4%;
  padding: 2px;
  background-color: var(--white);
}
html.light.RGBclass:not(.vivaldiHead) .header {
  border: none;
}
html.light .backHead:before,
html.light .backHead:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: rgbanimate 50s linear infinite;
  border-radius: 0 0 25px 25px;
}
html.light .backHead:after {
	filter: blur(2px);
}
html.light.small div#head-button {
  top: 8px;
}
html.light.hiddenHead .header {
  border-top-width: 0;
  top: 0;
  margin-top: -85px;
  transition: 0.25s linear;
}
html.light.hiddenHead.RGBclass .backHead {
  margin-top: -87px;
  transition: 0.25s linear;
}
html.light.hiddenHead .content {
  padding-top: 13px;
  transition: 0.25s linear;
}
html.light.hiddenHead div#head-button {
  top: -30px;
}
html.light.hiddenHead div#head-button:hover {
  top: -3px;
}
html.light.hiddenHead .header:hover {
  margin-top: 0px;
}
html.light.hiddenHead .header:hover + .backHead {
  margin-top: -2px;
}
html.light.vivaldiHead.RGBclass .backHead {
  position: fixed;
  height: 0px;
  width: 110%;
  transition: 0.15s linear;
}
html.light.vivaldiHead.RGBclass .header:hover + .backHead,
html.light.vivaldiHead.RGBclass .header.hovered + .backHead {
  height: 90px;
  transition: all 0.3s ease-in-out;
}
html.light.vivaldiHead ul#ShortcutsList {
  left: 0;
  right: auto;
}
html.light.vivaldiHead .header {
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  margin: 0;
  padding: 0;
  width: 40px;
}
html.light.vivaldiHead .content {
  padding: 0 0 0 45px;
  width: 96.7%; /*97%;*/
}
html.light.vivaldiHead div#head-button {
  margin: 0;
  left: 3px;
  top: 55px;
}
html.light.vivaldiHead .header #header_container .btn_main .child button font {
  display: none;
}
html.light.vivaldiHead .header .header_nav {
  width: 100%;
  height: auto;
}
html.light.vivaldiHead .header .header_nav > h4 {
  display: none;
}
html.light.vivaldiHead .header .header_nav > a {
  margin: 0;
  left: 0;
  top: 0;
  border-radius: 0;
  width: 100%;
  box-shadow: none;
  background-position-x: 45%;
  background-size: 23px;
}
html.light.vivaldiHead .header #header_container {
  position: absolute;
  left: 42px;
  top: -20vh;
  height: 90px;
  width: 98vw;
  padding-left: 135px;
  background-color: var(--darker);
  transition: 0.25s linear;
}
html.light.vivaldiHead .header:hover #header_container,
html.light.vivaldiHead .header.hovered #header_container,
html.light.vivaldiHead .header #header_container:hover {
  top: 0vh;
  box-shadow: var(--boxShadMed);
}
html.light.vivaldiHead .header #header_container .header_right {
  float: none;
}
html.light.vivaldiHead .header #header_container .btn_main {
  position: fixed;
  left: 2px;
  bottom: 0;
  width: 40px;
}
html.light.vivaldiHead .header #header_container .btn_main .child {
  position: relative;
  padding: 0;
  width: 100%;
  float: none !important;
  margin: 0 !important;
}
html.light.vivaldiHead .header #header_container .btn_main .child button {
  border-radius: 0;
  width: 100%;
  min-height: 40px;
  padding: 0;
  margin-top: 0px;
  box-shadow: none;
  border-width: 0px !important;
}
html.light.vivaldiHead .header #header_container .btn_main #tuis.child button {
  border-top-width: 1px !important;
}
html.light.vivaldiHead #lang button:hover {
  position: inherit;
}
html.light.vivaldiHead #lang button.afrikaans .fa-language:after,
html.light.vivaldiHead #lang button.english .fa-language:after {
  content: " ";
  padding: 0px 1px 0px 4px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  font: 400 13.3333px Arial;
  display: none;
}
html.light.vivaldiHead #lang button.afrikaans .fa-language:after {
  content: "English";
}
html.light.vivaldiHead #lang button.english .fa-language:after {
  content: "Afrikaans";
}
html.light.vivaldiHead #lang button:hover .fa-language:after {
  display: inline;
}
html.light.vivaldiHead #lang button:hover {
  width: auto !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
}
/* Custom color
switch vars */
html.light .header_nav a,
html.light .dropdown-menu>li>a:hover,
html.light .jstree-proton .jstree-clicked,
html.light .jstree-proton .jstree-hovered,
html.light #cboxMiddleLeft,
html.light #cboxMiddleRight,
html.light #cboxTopLeft,
html.light #cboxTopCenter,
html.light #cboxTopRight,
html.light #cboxBottomLeft,
html.light #cboxBottomCenter,
html.light #cboxBottomRight {
  background-color: var(--green);
}
html.light .datagrid .panel-header,
html.light .datagrid .panel-title {
  background: var(--green);
  border-color: var(--green);
  color: var(--light);
}
html.light .BlokNav .fa-stack,
html.light #ShortcutsList > li > a,
html.light #ShortcutsList > li:hover > a > font {
  color: var(--green);
}
html.light .nav-tabs>li.active>a,
html.light .nav-tabs>li.active>a:focus {
  background-color: var(--green);
  border: 1px solid var(--green);
}
html.light .nav-tabs>li.active>a:hover,
html.light .nav > li > a:hover {
  background-color: var(--green);
  border-color: var(--light);
}
html.light legend,
html.light li.dropdown-header {
  background: var(--orange);
  color: var(--light);
}
html.light fieldset {
  background-color: var(--greyLight);
  color: var(--darker);
}
html.light #ShortcutsList {
  border: 2px solid var(--green);
}
html.light *::selection {
  background: var(--green);
  color: var(--darker);
}
html.light.nyanCursor,
html.light.nyanCursor * {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat925.ani), url(http://cur.cursors-4u.net/nature/nat-10/nat925.png), auto !important;
}
html.light.nyanCursor a,
html.light.nyanCursor a *,
html.light.nyanCursor button,
html.light.nyanCursor button *,
html.light.nyanCursor .btn,
html.light.nyanCursor .btn * {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani), url(http://cur.cursors-4u.net/nature/nat-10/nat927.png), auto !important;
}
