body.light .header {
  border: 2px solid var(--green);
  height: 90px;
}
body.light .header>.header_nav>h4 {
  visibility: hidden;
}
body.light .header>.header_nav a {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: 0.1s linear;
}
body.light .header_nav a:hover {
  background-color: var(--orange);
  box-shadow: 1px 1px 8px var(--darker);
  -webkit-box-shadow: 1px 1px 8px var(--darker);
  -moz-box-shadow: 1px 1px 8px var(--darker);
}
body.light #head-button .show-notifications {
  margin-top: 3px;
}
body.light #head-button .show-notifications.active #icon-bell {
  fill: var(--light);
}
body.light #head-button .show-notifications.active~.notifications {
  top: 48px;
  left: -3px;
}
body.light .main .BlokNav {
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
body.light .main .BlokNav:hover {
  background: var(--light);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.6);
}
body.light .main .BlokNav > div {
  padding-left: 10px;
  padding-right: 10px;
}
body.light .main .openPage > .fa-stack {
  transition: all 0.3s ease-in-out;
}
body.light .ui-dialog .ui-dialog-titlebar {
  background: var(--green);
}
body.light .header .logo {
  height: auto;
  float: left;
  margin-top: 20px;
}
body.light .header .logo img {
  max-width: 100%;
  max-height: 47px;
  padding-left: 3px;
}
body.light .header .header_right {
  width: auto;
  min-width: 6.5%;
  float: right;
}
body.light #header_container .welcome {
  margin-top: 25px;
  margin-right: 8%;
  transition: 0.1s linear;
}
body.light #header_container .welcome > b {
  transition: 0.1s linear;
}
body.light .header .child {
  padding-top: 25px;
}
body.light .login_div {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}
body.light .btn.btn-success,
body.light .btn.btn-warning,
body.light .btn.btn-danger,
body.light .btn.btn-info,
body.light .btn.btn-default {
  background-image: none;
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.4);
  transition: 0.1s linear;
  outline: none;
}
body.light .btn.btn-success {
  background-color: var(--green);
  border: 1px solid var(--green);
}
body.light .btn.btn-warning {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}
body.light .btn.btn-danger {
  background-color: var(--red);
  border: 1px solid var(--red);
}
body.light .btn.btn-info {
  background-color: var(--blue);
  border: 1px solid var(--blue);
}
body.light .btn.btn-default {
  background-color: var(--light);
  border: 1px solid var(--light);
}
body.light .btn.btn-success:hover,
body.light .btn.btn-warning:hover,
body.light .btn.btn-danger:hover,
body.light .btn.btn-info:hover,
body.light .btn.btn-default:hover {
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.6);
}
body.light .btn.btn-success:hover {
  border-color: var(--greenDark);
  background-color: var(--greenDark);
}
body.light .btn.btn-warning:hover {
  border-color: var(--orangeDark);
  background-color: var(--orangeDark);
}
body.light .btn.btn-danger:hover {
  background-color: var(--redDark);
  border: 1px solid var(--redDark);
}
body.light .btn.btn-info:hover {
  background-color: var(--blueDark);
  border: 1px solid var(--blueDark);
}
body.light .btn.btn-default:hover {
  background-color: var(--greyLighter);
  border: 1px solid var(--greyLighter);
}
body.light iframe#renderHier {
  min-width: 100%;
  min-height: 92vh;
}
body.light #lang button font.btn_text {
  display: none;
}
body.light #lang button:hover font.btn_text {
  display: inline;
}
body.light #lang button:hover {
  position: absolute;
  padding: 6px 17px 6px 12px;
}
body.light.smlBlocks .main .BlokNav {
  width: 130px;
  height: 170px;
  margin: 6px;
}
body.light.smlBlocks .main .BlokNav a.openPage span {
  transform: scale(0.6);
  margin-top: -22px;
}
body.light.smlBlocks .main .BlokNav a.openPage .ca-content {
  font-size: 14px;
  width: 100%;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  line-height: 18px;
}
body.light.altEasyui .panel.datagrid .panel-body {
  overflow: auto;
  max-height: calc(100% - 50px);
}
body.light.headGlowDEV .header {
  box-shadow: inset 0px 0px 6px 0px var(--red);
  border-color: var(--red);
}
body.light.headGlowPRD .header {
  box-shadow: inset 0px 0px 6px 0px var(--green);
  border-color: var(--green);
}
body.light.headGlowQA .header {
  box-shadow: inset 0px 0px 6px 0px var(--orange);
  border-color: var(--orange);
}
body.light.altMenus .ui-widget-overlay {
  background: rgba(0,0,0,0.5);
  opacity: unset !important;
}
body.light.altMenus .ui-widget-content.ui-dialog {
  box-shadow: 1px 0px 7px 1px rgba(0,0,0,0.5);
}
body.light.altMenus ul#ShortcutsList {
  box-shadow: -1px 0px 7px 1px rgba(0,0,0,0.5);
  border-radius: 0;
  top: 0;
  right: 0;
  min-width: 300px;
  max-height: none;
  height: 98%;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}
body.light ul#ShortcutsList>li .fa-stack {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}
body.light ul#ShortcutsList>li:first-child .fa-stack {
  float: none;
  margin-right: 0px;
  margin-top: 1px;
}
body.light.animArrange .main ul.ca-menu.ui-sortable > * {
  animation-name: quiverAnimate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
body.light.animArrange .main ul.ca-menu.ui-sortable.ui-sortable-disabled > * {
  animation-name: none;
}
body.light .header .header_nav {
  padding: 0;
}
body.light .nav > li > a {
  cursor: pointer !important;
}
body.light .header div#header_container {
  height: 100%;
}
body.light.small .header {
  height: 45px;
}
body.light.small .header .logo {
  margin-top: 6px;
  height: 72%;
}
body.light.small .header .header_right > div > div {
  display: table-cell !important;
}
body.light.small .header .child {
  padding-top: 3px;
}
body.light.small .header > .header_nav a {
  top: -19px;
  width: 32px;
  height: 32px;
  background-size: 20px;
}
body.light.small .content {
  padding-top: 55px;
}
body.light.small .header .logo img {
  max-height: 33px;
}
body.light .backHead {
  width: 99.7%;
  margin-left: 2px;
  height: 96px;
  position: absolute;
  z-index: 95;
}
body.light.small .backHead {
  height: 51px;
}
body.light.RGBclass .header {
  top: 2px;
  width: 99.4%;
  border: none;
  padding: 2px;
  background-color: var(--white);
}
body.light .backHead:before,
body.light .backHead:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: rgbanimate 50s linear infinite;
  border-radius: 0 0 25px 25px;
}
body.light .backHead:after {
	filter: blur(2px);
}
/* body.light.hidHead .header {
  height: 99.3%;
  width: 90px;
  border-radius: 0 25px 25px 0;
} */

body.light.small div#head-button {
  top: 8px;
}
body.light.hiddenHead .header {
  border-top-width: 0;
  top: 0;
  margin-top: -85px;
  transition: 0.25s linear;
}
body.light.hiddenHead.RGBclass .backHead {
  margin-top: -87px;
  transition: 0.25s linear;
}
body.light.hiddenHead .content {
  padding-top: 13px;
  transition: 0.25s linear;
}
body.light.hiddenHead div#head-button {
  top: -30px;
}
body.light.hiddenHead div#head-button:hover {
  top: -3px;
}
body.light.hiddenHead .header:hover {
  margin-top: 0px;
}
body.light.hiddenHead .header:hover + .backHead {
  margin-top: -2px;
}
body.light.vivaldiHead.RGBclass .backHead {
  position: fixed;
  height: 0px;
  width: 110%;
  transition: 0.15s linear;
}
body.light.vivaldiHead.RGBclass .header:hover + .backHead {
  height: 90px;
  transition: all 0.3s ease-in-out;
}
body.light.vivaldiHead ul#ShortcutsList {
  left: 0;
  right: auto;
}
body.light.vivaldiHead .header {
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  margin: 0;
  padding: 0;
  width: 40px;
}
body.light.vivaldiHead .content {
  padding: 0 0 0 45px;
  width: 97%;
}
body.light.vivaldiHead div#head-button {
  margin: 0;
  left: 3px;
  top: 55px;
}
body.light.vivaldiHead #lang button font.btn_text {
  display: none;
}
body.light.vivaldiHead .header .header_nav {
  width: 100%;
  height: auto;
}
body.light.vivaldiHead .header .header_nav > h4 {
  display: none;
}
body.light.vivaldiHead .header .header_nav > a {
  margin: 0;
  left: 0;
  top: 0;
  border-radius: 0;
  width: 100%;
  box-shadow: none;
  background-position-x: 45%;
  background-size: 23px;
}
body.light.vivaldiHead .header #header_container {
  position: absolute;
  left: 42px;
  top: -20vh;
  height: 90px;
  width: 98vw;
  padding-left: 135px;
  background-color: var(--darker);
  transition: 0.25s linear;
}
body.light.vivaldiHead .header:hover #header_container,
body.light.vivaldiHead .header #header_container:hover {
  top: 0vh;
  box-shadow: var(--boxShadMed);
}
body.light.vivaldiHead .header #header_container .header_right {
  float: none;
}
body.light.vivaldiHead .header #header_container .btn_main {
  position: fixed;
  left: 2px;
  bottom: 0;
  width: 40px;
}
body.light.vivaldiHead .header #header_container .btn_main .child {
  padding: 0;
  width: 100%;
  float: none !important;
  margin: 0 !important;
}
body.light.vivaldiHead .header #header_container .btn_main .child button {
  border-radius: 0;
  width: 100%;
  min-height: 40px;
  padding: 0;
  margin-top: 1px;
}
body.light.vivaldiHead #lang button:hover {
  position: inherit;
}
/* body.light #lang button .fa-language:after {
  content: "E";
  padding: 0px 1px 0px 4px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  font: 400 13.3333px Arial;
  display: inline;
} */
/* body.light #lang button:hover .fa-language:after {
  display: none;
} */

/* *:not(.fa) {
  font-family: Roboto !important;
} */