body.light.dark {
  background-color: var(--darkLight) !important;
  color: var(--light) !important;
}
body.light.dark label,
body.light.dark .Zebra_Form fieldset label,
body.light.dark input,
body.light.dark .login_div input,
body.light.dark div,
body.light.dark .datagrid-pager.pagination * {
  color: var(--darker);
}
body.light.dark .logo img {
  box-shadow: 0px 0px 5px 3px var(--white);
  border-radius: 5px;
  background-color: var(--white);
}
body.light.dark .header {
  background-color: var(--darker);
  color: var(--light);
}
body.light.dark .welcome,
body.light.dark .header_right *,
body.light.dark .login_logo,
body.light.dark div#menu a,
body.light.dark .fc-event-title {
  color: var(--light);
}
body.light.dark .date-time {
  color: var(--light);
}
body.light.dark .show-notifications #icon-bell {
  fill: var(--greyLight);
}
body.light.dark .show-notifications:hover #icon-bell,
body.light.dark .show-notifications:focus #icon-bell,
body.light.dark .show-notifications.active #icon-bell {
  fill: var(--light);
}
body.light.dark .nav-tabs {
  border-bottom: 1px solid var(--green);
}
body.light.dark .nav>li>a {
  color: var(--white);
}
body.light.dark .ui-widget-content {
  background: var(--darker);
  color: var(--light);
}
body.light.dark .login_logo img {
  max-width: 100%;
  padding: 3px;
  box-shadow: 0px 0px 5px 3px var(--white);
  border-radius: 5px;
  background-color: var(--white);
}
body.light.dark div#cboxContent {
  background: var(--darkLight);
}
body.light.dark.container #enkodeer,
body.light.dark.container #enkodeer label,
body.light.dark xmp {
  color: var(--light);
}
body.light.dark ul#ShortcutsList {
  background: var(--darker);
}
body.light.dark ul#ShortcutsList>li {
  background: var(--greyLight);
}
body.light.dark fieldset {
  background-color: var(--greyLight);
  color: var(--darker);
}
body.light.dark fieldset input.form-control[readonly="readonly"],
body.light.dark fieldset input.form-control[readonly],
body.light.dark fieldset textarea.form-control[readonly="readonly"],
body.light.dark fieldset textarea.form-control[readonly] {
  background-color: var(--offWhite);
}
body.light.dark .datagrid {
  border-radius: 5px;
  background-color: var(--white);
}
body.light.dark .panel.datagrid .panel-body {
  border: 0px;
}
body.light.dark .tabs-panels .panel-body {
  background-color: var(--darkLight);
  color: var(--light);
}
body.light.dark .BlokNav {
  background-color: var(--greyLight);
}
body.light.dark ul.dropdown-menu {
  background-color: var(--darker);
}
body.light.dark ul.dropdown-menu li a,
body.light.dark .Zebra_Form label,
body.light.dark div.Zebra_Form_error_message .message,
body.light.dark #Tree #jsTreeMenu ul li a.jstree-search:hover,
body.light.dark #Tree #jsTreeMenu ul li a.jstree-search.jstree-clicked,
body.light.dark input[type="checkbox"] + label,
body.light.dark .login_div *,
body.light.dark #calendar .fc-grid .fc-day-number {
  color: var(--light);
}
body.light.dark .Zebra_Form span.required {
  color: #FF0000;
}
body.light.dark ul#ShortcutsList>li:hover,
body.light.dark .BlokNav:hover {
  background-color: var(--light);
}
body.light.dark h3 {
  color: var(--dark);
}
body.light.dark #calendar .fc-week .fc-sun,
body.light.dark #calendar .fc-week .fc-sat {
  background-color: var(--greyDark);
}
body.light.dark #calendar .fc-grid .fc-state-highlight .fc-day-number,
body.light.dark .login_div input,
body.light.dark .Zebra_Form textarea {
  color: var(--dark);
}
body.light.dark .panel,
body.light.dark .tabs-header {
  background-color: transparent;
}
body.light.dark .HetWSDL,
body.light.dark .noty_type_error * {
  color: var(--white);
}
body.light.dark .select2-results__option[aria-selected],
body.light.dark fieldset p,
body.light.dark fieldset td,
body.light.dark fieldset div,
body.light.dark strong.select2-results__group,
body.light.dark input.select2-search__field,
body.light.dark fieldset .Zebra_Form label,
body.light.dark .Zebra_Form fieldset label {
  color: var(--darker);
}
body.light.dark div#cboxOverlay {
  background: var(--darkLight);
}
body.light.dark #Tree #jsTreeMenu ul li a.jstree-search {
  color: var(--green);
  font-size: 1.1em;
}
body.light.dark .backHead + .header {
  background-color: var(--darker);
}