body.dark {
  background-color: #404040 !important;
  color: #F2F2F2 !important;
}
body.dark label,
body.dark .Zebra_Form fieldset label,
input,
.login_div input,
div,
.datagrid-pager.pagination * {
  color: #303030;
}
body.dark .logo {
  margin-top: 14px;
}
body.dark .logo img {
  box-shadow: 0px 0px 5px 3px #FFFFFF;
  border-radius: 5px;
  background-color: #FFFFFF;
}
body.dark .header {
  background-color: #303030;
  color: #F2F2F2;
}
body.dark .welcome, .header_right *, .login_logo, div#menu a, .fc-event-title {
  color: #F2F2F2;
}
body.dark .date-time {
  color: #F2F2F2;
}
body.dark .show-notifications #icon-bell {
  fill: #C0C0C0;
}
body.dark .show-notifications:hover #icon-bell, .show-notifications:focus #icon-bell, .show-notifications.active #icon-bell {
  fill: #F2F2F2;
}
body.dark .nav-tabs {
  border-bottom: 1px solid #71bf44;
}
body.dark .nav>li>a {
  color: #FFFFFF;
}
body.dark .ui-widget-content {
  background: #303030;
  color: #F2F2F2;
}
body.dark .login_logo img {
  max-width: 100%;
  padding: 3px;
  box-shadow: 0px 0px 5px 3px #FFFFFF;
  border-radius: 5px;
  background-color: #FFFFFF;
}
body.dark div#cboxContent {
  background: #404040;
}
body.dark.container #enkodeer,
body.dark.container #enkodeer label,
body.dark xmp {
  color: #F2F2F2;
}
body.dark ul#ShortcutsList {
  background: #303030;
}
body.dark ul#ShortcutsList>li {
  background: rgba(232, 232, 232, 0.8);
}
body.dark fieldset {
  background-color: rgba(232, 232, 232, 0.8);
  color: #303030;
}
body.dark fieldset input.form-control[readonly="readonly"],
body.dark fieldset input.form-control[readonly],
body.dark fieldset textarea.form-control[readonly="readonly"],
body.dark fieldset textarea.form-control[readonly] {
  background-color: #DDDDDD;
}
body.dark .datagrid {
  border-radius: 5px;
  background-color: #FFFFFF;
}
body.dark .panel.datagrid .panel-body {
  border: 0px;
}
body.dark .tabs-panels .panel-body {
  background-color: #404040;
  color: #F2F2F2;
}
body.dark .BlokNav {
  background-color: rgba(232, 232, 232, 0.8);
}
body.dark ul.dropdown-menu {
  background-color: #303030;
}
body.dark ul.dropdown-menu li a,
body.dark .Zebra_Form label,
body.dark #Tree #jsTreeMenu ul li a.jstree-search:hover,
body.dark #Tree #jsTreeMenu ul li a.jstree-search.jstree-clicked,
body.dark input[type="checkbox"] + label,
body.dark .login_div *,
body.dark #calendar .fc-grid .fc-day-number {
  color: #F2F2F2;
}
body.dark .Zebra_Form span.required {
  color: #FF0000;
}
body.dark ul#ShortcutsList>li:hover,
body.dark .BlokNav:hover {
  background-color: rgba(250, 250, 250, 1);
}
body.dark h3 {
  color: #333333;
}
body.dark #calendar .fc-week .fc-sun, #calendar .fc-week .fc-sat {
  background-color: #888888;
}
body.dark #calendar .fc-grid .fc-state-highlight .fc-day-number,
body.dark .login_div input,
body.dark .Zebra_Form textarea {
  color: #333333;
}
body.dark .panel, .tabs-header {
  background-color: transparent;
}
body.dark .HetWSDL,
body.dark .noty_type_error * {
  color: #FFFFFF;
}
body.dark .select2-results__option[aria-selected], fieldset p, fieldset td, fieldset div,
body.dark strong.select2-results__group, input.select2-search__field,
body.dark fieldset .Zebra_Form label, .Zebra_Form fieldset label {
  color: #303030;
}
body.dark div#cboxOverlay {
  background: #404040;
}
body.dark #Tree #jsTreeMenu ul li a.jstree-search {
  color: #71bf44;
  font-size: 1.1em;
}
body.dark .backHead + .header {
  border-color: #303030;
  background-color: #303030;
}