:root {
    --btnSuccess: #71bf44;
    --btnWarning: #f7931c;
    --btnDanger: #c12e2a;
    --btnInfo: #2aabd2;
    --btnDefault: #F2F2F2;

    --userBg: #404040;
    --userHeader: #303030;
    --userMenus: #303030;
    --userHomeItems: #505050;
    --userFieldset: #505050;

    --green: #71bf44;
    --orange: #f7931c;
    --red: #c12e2a;
    --blue: #2aabd2;

    --darkLight: #404040;
    --dark: #333333;
    --darker: #303030;

    --greyLight: #C0C0C0;
    --greyDark: #666666;

    --white: #FFFFFF;
    --light: #F2F2F2;
    --offWhite: #DDDDDD;

    --boxShadMed: 0px 0px 5px rgba(0,0,0,0.5);
    --boxShadDark: 0px 0px 5px rgba(0,0,0,0.8);

    --mainPadding: 15px;  
}
@font-face {
    font-family: myRoboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@keyframes scaleX {
    0% {transform: scaleX(1);}
    50% {transform: scaleX(0);}
    100% {transform: scaleX(1);}
}
@keyframes scaleY {
    0% {transform: scaleY(1);}
    50% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
@keyframes quiverAnimate {
    0% {transform: rotate(0deg) scale(1);}
    25% {transform: rotate(0deg) scale(0.98);}
    50% {transform: rotate(0deg) scale(1.01);}
    75% {transform: rotate(0deg) scale(0.99);}
    100% {transform: rotate(0deg) scale(1);}
}
@keyframes rgbanimate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
/*
#div2 {
    background-color: var(--light);
    color: var(--red);
    padding: var(--mainPadding);
}
*/