@import url("../custom.css");

* {
  cursor: default;
  font-family: myRoboto;
}
body {
  margin: 0;
  min-width: 420px;
  min-height: 0px;
}
h1 {
  font-size: 1.5em;
  text-align: left;
  padding-left: 15px;
}
h3 {
  color: var(--dark);
  font-size: 1.2em;
}
.sidenav h1 {
  padding-left: 0px;
  margin: 0;
}
h1#custom_css_block_header {
  display: inline-block;
}
.top_container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--light);
  box-shadow: var(--boxShadMed);
}
.container1 {
  width: 90%;
  text-align: center;
  padding: 10px 5% 169px;
}
.container1 input[type=text] {
  padding: 10px 5px;
  margin: 5px 0px;
  float: left;
  border: 1px solid var(--green);
  width: 86%;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  cursor: text;
  float: left;
}
.container1 input[type=text]:focus,
.container1 input[type=text]:hover {
  background-color: var(--light);
}
.container1 div:nth-child(2) input[type=text] {
  width: 96%;
  border-radius: 5px;
  margin-top: 10px;
}
.container1 > div {
  min-height: 50px;
}
.container1 > div.top_pad {
  min-height: 35px;
}
.container1 > div.bottom_pad {
  min-height: 35px;
}
.btn_container {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background: var(--light);
  box-shadow: var(--boxShadMed);
}
.note_container {
  display: flex;
  justify-content: space-evenly;
}
.note_container > p {
  text-align: left;
  font-size: 11px;
}
.reload_container {
  width: 140px;
}
.reload_container button {
  min-height: 40%;
}
.reload_container button i {
  margin: 0px 0px 7px 0px;
}
button {
  background-color: var(--dark);
  border: none;
  color: var(--light);
  padding: 7px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 7px 2px 5px;
  cursor: pointer;
  border: 1px solid var(--dark);
  border-radius: 5px;
}
button:hover {
  box-shadow: var(--boxShadMed);
}
button.reset_cust_cols {
  min-width: 100px;
  padding: 3px 17px;
}
.save_form_field,
.save_custom_settings {
  background-color: var(--green);
  border:1px solid var(--green);
}
.add_form_field,
.reset_cust_cols {
  background-color: var(--btnWarning);
  border:1px solid var(--btnWarning);
}
.clear_all {
  background-color: var(--red);
  border:1px solid var(--red);
}
.delete {
  background-color: var(--red);
  border: none;
  color: var(--light);
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 5px 2px 0px 0px;
  cursor: pointer;
  float: left;
  border-radius: 0px 5px 5px 0px;
  transition: all 0.1s linear;
}
.delete:hover {
  box-shadow: var(--boxShadMed);
}
.onoffswitch {
  position: absolute; width: 85px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  top: 6px;
  right: 45px;
}
.onoffswitch * {
  cursor: pointer;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid var(--greyLight);
  border-radius: 10px;
  transition: all 0.1s linear;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 15px;
  color: var(--light);
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "__MSG_lblLight__";
  padding-left: 10px;
  background-color: var(--light);
  color: var(--dark);
  text-align: left;
}
.onoffswitch-inner:after {
  content: "__MSG_lblDark__";
  padding-right: 10px;
  background-color: var(--dark);
  color: var(--light);
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 5px;
  background: var(--greyLight);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  border: 2px solid var(--greyLight);
  border-radius: 50px;
  transition: all 0.3s linear 0s;
}
.onoffswitch-label:hover .onoffswitch-switch {
  box-shadow: var(--boxShadMed);
  background: var(--light);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
p#versionText {
  font-size: 0.6em;
}
.tooltiptext > p {
  font-size: 0.8em;
  margin: 0.7em 0px;
}
.tooltiptextChange > p {
  font-size: 0.8em;
  margin: 0.7em 0px;
}
.tooltiptextChange > ul {
  font-size: 0.7em;
  margin: 0.8em 0px;
  padding-left: 35px;
  text-align: left;
}
.tooltiptextChange > ul li {
  margin-bottom: 0.3em;
}
#tooltipChange {
  position: relative;
  color: var(--green);
  display: none;
  cursor: help;
}
#tooltip {
  position: relative;
  color: var(--red);
  display: none;
  cursor: help;
}
#tooltip .tooltiptext,
#tooltipChange .tooltiptextChange {
  visibility: hidden;
  width: 160px;
  background-color: var(--red);
  color: var(--light);
  text-align: center;
  border-radius: 6px;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -80px;
}
#tooltipChange .tooltiptextChange {
  background-color: var(--green);
  width: 280px;
  margin-left: -140px;
}
#tooltip .tooltiptext::after,
#tooltipChange .tooltiptextChange::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--dark) transparent;
}
#tooltip:hover .tooltiptext,
#tooltipChange:hover .tooltiptextChange {
  visibility: visible;
  box-shadow: var(--boxShadMed);
}
#menu_bars,
.closebtn,
button,
button * {
  cursor: pointer;
}
.closebtn {
  position: fixed;
  z-index: 8;
  top: 10px;
  right: 100%;
  text-shadow: var(--boxShadDark);
}
.save_custom_settings {
  position: fixed;
  z-index: 8;
  bottom: -45px;
  right: 100%;
}
.sidenav {
  height: 87%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: var(--dark);
  overflow-x: hidden;
  padding-top: 60px;
  text-align: left;
  box-shadow: var(--boxShadMed);
  opacity: 0;
  border-left: 0px solid var(--light);
  border-right: 0px solid var(--light);
}
.sidenav h1,
.sidenav li,
.sidenav .closebtn {
  color: var(--light);
}
.sidenav ul {
  padding-left: 18px;
}
.sidenav li {
  text-align: left;
  font-size: 1.4em;
}
.row {
  position: relative;
  float: left;
  width: 100%;
}
.fifty {
  float: left;
  width: 50%;
}
.hundred {
  float: left;
  width: 100%;
}
.inject.sideinj {
  float: left;
  position: relative;
}
.inject.sideinj + h3 {
  float: left;
}
.inject {
  position: absolute;
  top: 10px;
  right: 10px;
}
table.input label {
  font-size: 1.2em;
}
table.input input {
  max-width: 65px;
  text-align: center;
  margin-right: 15px;
}
table.input th,
table.input td {
  width: 16%;
}
table.input tr td[colspan="6"] {
  padding-top: 10px;
}
.inject_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.inject_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark,
.checkmark_side {
  position: absolute;
  top: 0;
  right: 3px;
  height: 25px;
  width: 25px;
  background-color: var(--greyLight);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.checkmark:hover,
.checkmark_side:hover {
  box-shadow: var(--boxShadMed);
}
.inject_container:hover input ~ .checkmark,
.inject_container:hover input ~ .checkmark_side {
  background-color: var(--light);
}
.inject_container input:checked ~ .checkmark,
.inject_container input:checked ~ .checkmark_side {
  background-color: var(--green);
}
.checkmark:after,
.checkmark_side:after {
  content: "";
  position: absolute;
  display: none;
}
.inject_container input:checked ~ .checkmark:after,
.inject_container input:checked ~ .checkmark_side:after {
  display: block;
}
.inject_container .checkmark:after,
.inject_container .checkmark_side:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--light);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#ldContain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--dark);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s linear;
}
.ldBar {
  width: 60% !important;
  height: 60% !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.ldBar-label {
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: var(--light);
  border-radius: 5px;
}
textarea#custom_css_block,
textarea#custom_js_block {
  width: 100%;
  min-height: 200px;
  margin-top: 10px;
  text-align: left;
}
p.section_description {
  margin: 2px 0px;
}
.checkbox_description {
  float: left;
  margin-top: -10px;
  font-size: 11px;
}
.sidenav .cm-s-default .cm-qualifier {
  color: var(--orange);
  text-shadow: 0px 0px 0px var(--boxShadMed);
}
.sidenav .cm-s-default .cm-property {
  color: var(--green);
  text-shadow: 0px 0px 0px var(--boxShadMed);
}
.sidenav .cm-s-default .cm-keyword {
  color: var(--red);
  text-shadow: 0px 0px 0px var(--boxShadMed);
}
.sidenav .cm-s-default .cm-comment {
  color: var(--greyLight);
  font-style: italic;
}
.CodeMirror.cm-s-default.CodeMirror-wrap {
  border: 1px solid var(--dark);
}
.accordion {
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  box-shadow: none !important;
}
.panel {
  padding: 0 0 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:before {
  content: '+';
  font-size: 25px;
  line-height: 25px;
  float: left;
  margin-right: 10px;
}
.active:before {
  content: '-';
}
.accordion:hover {
  padding-left: 10px;
}



/* Theming always bottom */
/* DARK */
body.dark {
  background-color: var(--dark);
}
body.dark>h1,
body.dark .top_container>h1,
body.dark .sidenav h1,
body.dark .sidenav li,
body.dark .sidenav .closebtn,
body.dark .sidenav .section_description,
body.dark .sidenav .checkbox_description,
body.dark .sidenav h3,
body.dark .input label,
body.dark .note_container p {
  color: var(--light);
}
body.dark .btn_container,
body.dark .top_container {
  background-color: var(--darker);
}
body.dark .sidenav {
  background-color: var(--dark);
}
body.dark .reload_erp_tabs,
body.dark .reload_ext {
  background-color: var(--darker);
  border:1px solid var(--darker);
  color: var(--light);
}
body.dark .accordion {
  background-color: var(--dark);
  border:1px solid var(--dark);
  color: var(--light);
}
/* LIGHT */
body.light {
  background-color: var(--light);
}
body.light>h1,
body.light .top_container>h1,
body.light .sidenav h1,
body.light .sidenav li,
body.light .sidenav .closebtn,
body.light .sidenav .section_description,
body.light .sidenav .checkbox_description,
body.light .sidenav h3,
body.light .note_container p {
  color: var(--dark);
}
body.light .btn_container,
body.light .top_container {
  background-color: var(--light);
}
body.light .sidenav {
  background-color: var(--light);
}
body.light .reload_erp_tabs,
body.light .reload_ext,
body.light .accordion {
  background-color: var(--light);
  border:1px solid var(--light);
  color: var(--dark);
}